[Team]
# Your team name for the leaderboard
Name="DarkTheme"

[Launch]
# roslaunch <LaunchParams>
LaunchParams="swc_example swc_example.launch"

[Bonuses]
# Can be none (8x pts), normal (1x pts) or hard (0.4x pts)
#   none: There will be no obstalces.
#   normal: There will be obstacles
#   hard: There will be 3 times more obstacles
Obstacles=none

# Can be none (8x pts), reduced (1x pts), realistic (0.6x pts)
#   none: No noise on any sensors
#   reduced: Half the standard deviation on the noise as realistic on all sensors
#   realistic: Realistic noise profiles on all sensors
NoiseLevel=reduced