[Simulator]
# All of the following options are only for local development
# The server will use its own simulator.cfg

# Ros Bridge Server Url (Default: ws://localhost:9090)
RosBridgeUrl=ws://localhost:9090

# Seed value for generating the obstacles and waypoints
# Must be an integer. Leave -1 for a random seed.
Seed=-1

# Use controller input instead of reading /sim/control
ManualControl=false

# Top speed when using controller input (m/s)
ManualTopSpeed=2

# Enable or disable robot's camera
# Disabling can significantly improve simulator performance
EnableCamera=false

[Competition]
# Competition mode is true when running the competition. It does the following things:
# - Manual mode is forced off
# - The simulator will close when finishing the run (or reaching max time)
# - Results are written to results.txt
CompetitionMode=true

# Max time (seconds)
MaxTime=300